---
import { Image } from "astro:assets";
import { format } from "date-fns";

interface Props {
    title: string;
    description: string;
    cover: {
        src: string;
        width: number;
        height: number;
        format:
            | "png"
            | "jpg"
            | "jpeg"
            | "tiff"
            | "webp"
            | "gif"
            | "svg"
            | "avif";
    };
    postedOn: Date;
    slug: string;
}

const { title, description, cover, postedOn, slug } = Astro.props;
---

<article
    class="flex flex-col justify-center gap-2 w-full border-1 hover:border-2 border-zinc-700 rounded-lg h-fit hover:scale-102 duration-200 cursor-pointer outline-accent-400 focus-within:outline"
>
    <a
        href={`/blog/${slug}`}
        class="w-full h-full outline-none block"
        aria-label="read more about ..."
    >
        <header class="text-base font-semibold text-zinc-300 bg-slate-900 p-4">
            <time datetime={postedOn.toISOString()}>
                {format(postedOn, "LLLL d, yyyy")}
            </time>
        </header>
        <Image src={cover} alt={title} loading="lazy" class="aspect-auto" />
        <div class="grid gap-y-4 p-4">
            <h2 class="text-3xl font-bold">{title}</h2>
            <p class="text-lg font-light text-zinc-300">
                {description}
            </p>
        </div>
    </a>
</article>
