---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import GradientBg from "./GradientBg.astro";

interface Props {
    title: string;
    description: string;
    url: string;
    banner: string;
    animationDelay: number;
}

const { title, description, url, banner, animationDelay } = Astro.props;

const importedBanner: ImageMetadata = (
    await import(`../../../assets/projects/${banner}.png`)
).default;
---

<GradientBg animationDelay={animationDelay}>
    <a
        href={url}
        target="_blank"
        rel="noopener noreferrer"
        class="relative z-10 h-[--width-xs] max-w-72 rounded-[inherit] p-4 bg-zinc-900 flex flex-col gap-4 hover:translate-z-2 duration-200"
    >
        <Image
            src={importedBanner}
            height={400}
            width={400}
            alt="Notestar"
            class="object-contain"
            loading="eager"
        />
        <div class="flex flex-col gap-4 grow">
            <h2 class="text-base sm:text-xl text-neutral-200">{title}</h2>
            <p class="text-sm text-neutral-400">
                {description}
            </p>
        </div>
    </a>
</GradientBg>
